body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 14px;
    color: black;
    margin-top: 50px;
  }

.homepage__feedback {
    background-color: white;
}

.feedback-logo {
     width: 30px;
     margin: .5em auto .3em;
     height: 30px;
}